{% extends "base.html" %}
{% block home %}
    <div class="container_buttons">
            <div class="wrapper">
                <div class="box1">
                    <a class="button" href="https://scholar.google.com/">
                        Ввести баллы команд
                    </a>
                </div>
                <div class="box2">
                    <a class="button" id="justify" href="/pactic_table_htmlx/">
                        Просмотреть участников
                    </a>
                </div>
                <div class="box3">
                    <a class="button" id="justify" href="https://scholar.google.com/">
                        Просмотреть списки жюри
                    </a>
                </div>
        </div>
    </div>
{% endblock %}