
.wrapper {
    display: flex;
    grid-gap: 10px 15px
}
caption.caption_for_container{
    text-align: center;
}
div{
}
    #center{
        text-align: center;
    }
    .content{
        margin-bottom: 5px;
    }

    .container_buttons {
        margin: 0;
        padding: 1%;
        position: absolute;
        background: #6478c7;
        border-radius: 10px;
        top: 25%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
    }


button{}
    #C1{
        width: 150px;
        }

a.button {
    width: 200px;
    display: inline-block;
    background-color: #485794;
    color: #fcf9f9;
    padding: 12px;
    border-radius: 10px;
    text-decoration: none;
    line-height: 1;
    font-weight: 100;
    text-justify: inter-word;
    text-align: center;
    text-justify: inter-word;

}

/* Table style */
.table-container th.asc:after {
    content: '\0000a0\0025b2';
    float: right;
    border: solid;
}

.table-container th.desc:after {
    content: '\0000a0\0025bc';
    float: right;
    border: solid;
}

.table-container table td:nth-child(1) {
    width: 20%;
    text-align: center;
    border: 1px solid;
}

.table-container table td:nth-child(2) {
    width: 5%;
    text-align: center;
    border: 1px solid;
}

.table-container table td:nth-child(3) {
    width: 10%;
    text-align: center;
    border: 1px solid;
}


.progress {
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background-clip: padding-box;
    overflow: hidden;
    position: relative;
}

.progress {
    opacity: 0;
}

.htmx-request .progress {
    opacity: 1;
}
.htmx-request.progress {
    opacity: 1;
}

.progress .indeterminate {
    background-color: blue;
}

.progress .indeterminate:before {
    content: '';
    position: absolute;
    background-color: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    will-change: left, right;
    -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
    animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}
.progress .indeterminate:after {
    content: '';
    position: absolute;
    background-color: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    will-change: left, right;
    -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    -webkit-animation-delay: 1.15s;
    animation-delay: 1.15s;
}

@keyframes indeterminate {
    0% {
        left: -35%;
        right: 100%;
    }
    60% {
        left: 100%;
        right: -90%;
    }
    100% {
        left: 100%;
        right: -90%;
    }
}

@keyframes indeterminate-short {
    0% {
        left: -200%;
        right: 100%;
    }
    60% {
        left: 107%;
        right: -8%;
    }
    100% {
        left: 107%;
        right: -8%;
    }
}
.tableheader{
    text-align: center;
}
.cellblock{
    border: solid;
}